@using KindergartenSystem.Web.Infrastructure.Middlewares;
@model IEnumerable<UserViewModel>
@inject ITeacherService TeacherService
@inject IParentService ParentService
@inject IUserService UserService

    @{
        ViewBag.Title = "All Users";
    }
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
               <th><label>Email</label></th>
                <th><label>Full Name</label></th>
                <th><label>Phone Number</label></th>
               <th><label>User Is Teacher</label></th>
               <th><label>User Is Parent</label></th>
               <th><label>Parent Request</label></th>
               <th><label>User Is Online</label></th>
               <th><label>Set user to a Teacher</label></th>
             </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
               <td><label>@user.Email</label></td>
                <td><label>@user.Name</label></td>
                <td><label>@user.PhoneNumber</label></td>
                    
                @{
                    bool IsUserTeacher = await TeacherService.TeacherExistsByPhoneNumberAsync(user.PhoneNumber);
                    bool IsUserParent = await ParentService.ParentExistsByPhoneNumberAsync(user.PhoneNumber);
                    var PendingParent = await UserService.GetPendingParentsAsync();
                    bool IsUserPendingParent = (PendingParent.Any(x => x.PhoneNumber == user.PhoneNumber));
                    
                        }
                <td>
                    @if (IsUserTeacher)
                    {
                        <label>✔</label>
                    }
                    else
                    {
                    <label class="text-center">❌</label> 

                    }
                </td>
                <td>
                    @if (IsUserParent)
                    {
                        <label>✔</label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>

                    }
                </td>
                <td>
                    @if (IsUserPendingParent)
                    {
                        <label>
                            <a class="btn btn-warning" asp-area="Admin" asp-action="PendingParents" asp-controller="User">Request</a>
                        </label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>

                    }
                </td>
                <td>
                    @if (OnlineUsersMiddleware.CheckIfUserIsOnline(user.UserId.ToLower()))
                    {
                        <label>✔</label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>

                    }
                </td>
                <td>
                    @if (!IsUserParent && !IsUserTeacher && !IsUserPendingParent)
                    {
                        <label>
                            <a class="btn btn-warning" asp-area="Admin" asp-controller="User" asp-action="SetAsTeacher" asp-route-userId="@user.UserId">SetAsTeacher</a>
                        </label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>

                    }
                </td>
                   
               
            </tr>

        }
            
            
    
    </tbody>
</table>

