@using KindergartenSystem.Services.Data.Interfaces
@using KindergartenSystem.Web.Infrastructure.Extensions
@model ChildDetailsViewModel
@inject ITeacherService TeacherService
@{
    var IsUserTeacher = await TeacherService.TeacherExistsByUserId(User.GetId());
    var IsTeacherOfTheChild = await TeacherService.IsChildFromTheGroup(User.GetId(), Model.Id);

}
@{
    ViewBag.Title = "Child Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Child Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.FirstName @Model.MiddleName @Model.LastName</u></p>
            <p>DateOfBirth: <b>@Model.DateOfBirth</b></p>
            <p>Group: <b>@Model.ClassGroupName</b></p>          
            <p>Teacher: <b>@Model.Teacher</b></p>          
            <p>Teachers Phone: <b>@Model.TeachersPhone</b></p>          
            <p>Teachers Email: <b>@Model.TeachersEmail</b></p>          
            <p>Parent: <b>@Model.ParentName</b></p>          
            <p>Parent Phone: <b>@Model.ParentPhone</b></p>          
            <p>Parent Email: <b>@Model.ParentEmail</b></p>          
            @if (Model.IsAttending == true)
            {
                <h6>Attending</h6>
            }
            else
            {
                <h6>Missing</h6>

            }
            <div class="form-inline">
               @if (this.User.Identity?.IsAuthenticated ?? false)
            {
                    <a class="ml-2 btn btn-warning" asp-controller="Child" asp-action="AddItem"
                       asp-route-id="@Model.Id">Add Item</a>
                    @if (IsUserTeacher && IsTeacherOfTheChild)
                    {
                        <a class="btn btn-warning" asp-controller="Child" asp-action="Edit"
                        asp-route-id="@Model.Id">Edit</a>

                        <a class="ml-2 btn btn-danger" asp-controller="Child" asp-action="Delete"
                        asp-route-id="@Model.Id">Delete</a>
                        @if (Model.IsAttending)
                        {
                            <form class="input-group-sm" asp-controller="Child"
                                  asp-action="Missing" asp-route-id="@Model.Id" method="post">
                                <input class="btn btn-primary" type="submit" value="Missing" />
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Child" asp-action="Attending"
                                  asp-route-id="@Model.Id" method="post">
                                <input class="btn btn-primary" type="submit" value="Attending" />
                            </form>
                        }
                    }
                }  
            </div>
            
            <p></p>

        </div>
    </div>
</div>
