@model IndexViewModel
@{
    ViewBag.Title = "Kindergarten Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container text-center" style="display:inline">
    <div class="row">
        <div class="col-12">
            <img class="card-img-top" style="width: 40rem;"
                 src="@Model.ImageUrl" alt="Image">
                 </div>
        <div class="text-center">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>Address: <b>@Model.Address</b></p>
            <p>Phone: <b>@Model.PhoneNumber</b></p>
            <p>Principal: <b>@Model.Principal</b></p>
            <p>E-mail: <b>@Model.EmailAddress</b></p>
            <div class="form-inline">
                <a class="ml-2 btn btn-warning" asp-controller="AgeGroup" asp-action="All"
                   asp-route-id="@Model.Id">About Groups</a>
            </div>
        </div>
        </div>
        </div>