@using KindergartenSystem.Services.Data.Interfaces
@using static KindergartenSystem.Common.GeneralApplicationConstants
@using KindergartenSystem.Web.Infrastructure.Extensions
@model AllTeachersViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Image">
        <div class="card-body text-center">
            <h4>Name: @Model.Name</h4>
            <h6>ClassGroup: @Model.ClassGroupName</h6>
            <h6>Phone: @Model.PhoneNumber</h6>
            <h6>Email: <b>@Model.EmailAddress</b></h6>
            <a asp-area="Admin" asp-controller="User" asp-action="EditTeacher" asp-route-id="@Model.Id"
               class="btn btn-warning">Edit</a>
            @if (Model.EmailAddress != AdminEmail)
            {
                <a asp-area="Admin" asp-controller="User" asp-action="DeleteTeacher" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
            }          
                    
                    
                    
                    
                
            
        </div>
    </div>
</div>
